In [2]:
# Dependencies
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

# import csv data files
education_file = "Resources/education.csv"
childmarriage_file = "Resources/childmarriage.csv"


# create dataframes for each
education_file_df = pd.read_csv(education_file, encoding="ISO-8859-1")
childmarriage_file_df = pd.read_csv(childmarriage_file, encoding="ISO-8859-1")
countries_df = pd.read_html('https://developers.google.com/public-data/docs/canonical/countries_csv')

#education_file_df.head()
#childmarriage_file_df.head()
#countries_df[0]

FileNotFoundError: [Errno 2] File b'Resources/education.csv' does not exist: b'Resources/education.csv'

In [ ]:
filtered_education = education_file_df.filter(["Indicator"== "Youth literacy rate, population 15-24 years, both sexes (%)",
                                              "LOCATION", "Country","TIME", "Value"])
filtered_education.head()

In [6]:
childmarriage_file_df.head()

,Dataflow,Geographic Area,Indicator,Sex,Time Period,Observation Value,Unit Multiplier,Unit of Measure,Observation Status,Observation Confidentaility,...,Weighted Sample Size,Observation Footnote,Series Footnote,Data Source,Citation of or link to the data source,Custodian,Time period activity related to when the data are collected,Reference Period,The period of time for which data are provided,Current Age
0,Cross-sector Indicators,Botswana,Percentage of women (aged 20-24 years) married...,Female,1988,10.0,NaN,%,Reported,Free,...,NaN,NaN,NaN,DHS 1988,NaN,NaN,End of fieldwork,NaN,1988,20 to 24 years old
1,Cross-sector Indicators,Uzbekistan,Percentage of men (aged 20-24 years) married o...,Male,2002,0.5,NaN,%,Reported,Free,...,NaN,NaN,NaN,DHS 2002,NaN,NaN,End of fieldwork,NaN,2002,20 to 24 years old
2,Cross-sector Indicators,Philippines,Percentage of men (aged 20-24 years) married o...,Male,2003,2.9,NaN,%,Reported,Free,...,NaN,NaN,NaN,DHS 2003,NaN,NaN,End of fieldwork,NaN,2003,20 to 24 years old
3,Cross-sector Indicators,South Africa,Percentage of women (aged 20-24 years) married...,Female,2003,0.8,NaN,%,Reported,Free,...,NaN,NaN,NaN,DHS 2016,NaN,NaN,End of fieldwork,NaN,2003,20 to 24 years old
4,Cross-sector Indicators,South Africa,Percentage of women (aged 20-24 years) married...,Female,2003,5.6,NaN,%,Reported,Free,...,NaN,NaN,NaN,DHS 2003,NaN,NaN,End of fieldwork,NaN,2003,20 to 24 years old

In [7]:
countries_df[0]

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [1]:
merged_edu_child_mar = pd.merge(left=survey_sub, right=species_sub, how='left', left_on='species_id', right_on='species_id')
merged_edu_child_mar

NameError: name 'pd' is not defined